HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.settings
.vscode/
.env
*.log
.DS_Store
build/
!**/src/main/**/build/
!**/src/test/**/build/
